<!DOCTYPE html>
<html>
<head>
  <title>Lunch It!</title>
  <link href="/static/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/static/bootstrap/css/jk.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <div class="join1">
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	        <i class="icon-user"></i> {{user_info.display_name}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/profile?u={{user_info.username}}">Profile</a></li>
          <li><a href="/logout/">Sign Out</a></li>
        </ul>
		  </div>
      <a href="/"><img src="/static/lunchit2.png" height="60"></a>
    </div>

    <div class="row">
      <div class="span12">
        <h1>User profile for {{ user_info.display_name }}</h1>
      </div>
      <div class="span6 well">
        {% if is_you %}
        <h2>Your favorite places:</h2>
        {% else %}
        <h2>{{ user_info.display_name }}'s favorite places:</h2>
        {% endif %}
        <table class="table table-striped">
          {% for place_info in favorite_places %}
          <tr>
            <td>{{place_info.restaurant.name}}</td>
            <td>{{place_info.visits}} visits</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="span6 well">
        {% if is_you %}
        <h2>Your common co-lunchers</h2>
        {% else %}
        <h2>{{ user_info.display_name }}'s known associates:</h2>
        {% endif %}
        <table class="table table-striped">
          {% for luncher_info in co_lunchers %}
          <tr>
            <td>{{luncher_info.user_info.display_name}}</td>
            <td>{{luncher_info.lunches}} lunches</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <script src="/static/bootstrap/js/jquery.js"></script>
  <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
  <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
</body>
</html>
